*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Poppins', sans-serif; 
  color: black;
  border-radius: 10px;
  background-color:#edf1fd;
}
body{
  display: flex;
  flex-direction: column;
}
header{
  display: flex;
  margin-left: 12%;
  margin-top: 40px;
}
.Jd{
  font-size: 45px;
  font-weight: bold;
}
ul{
  display: flex;
  list-style: none;
  gap: 60px;
  margin-left: 180px;
  font-size: 25px;
  font-weight: bold;
  
  margin-top: 12px;
}
a{
  text-decoration: none;
  font: bold;
}

/* search-field */

.search{
  gap: 20px;
  margin-left: 400px;
  
}
.search input {
  font-size: 15px;
  padding-left: 10px;
  border-radius: 8px;
  color: grey;
  height: 35px;
  
}
.search button {
  margin-left: 15px;
  padding: 1px;
  margin-top: 20px;
  width: 100px;
  height: 35px;
  color: whitesmoke;
  background-color: rgb(8, 8, 8);
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
}
button:hover{
  color: rgb(40, 228, 209);
}
input:hover{
  font-weight: bold;
}

/* main-section */
main{
  /* margin-left: 300px; */
  display: flex;
  align-items: center;
  margin-left: 12%;
  margin-top: 5%;
}
h1{
  font-weight: 800;
  font-size: 55px;
  margin-bottom: 16px;
}
p{
  font-size: 25px;
}
h1 span {
  font-size: 70px;
  color: rgb(18, 155, 155);
  font-weight: 700;
}
p span {
  font-size: 30px;
  color: rgb(18, 155, 155);
  font-weight: 700;
}

div img{
  width: 400px; 
  margin-left:80%; 


}
 button {
  margin-left: 107%;
  margin-top: 25px;
  background-color: rgb(12, 12, 12);
  color: whitesmoke;
  padding: 6px;
  border-radius: 15px;
  width: 120px;
  cursor: pointer;
  font-weight: bold;
}

/* footer */
footer{
  display: flex;
  font-weight: 600;
  padding: 20px 0;
  justify-content: space-around;
  margin-top: 180px;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
ul li {
  size: 500px;
  font-size: 35px;
 
}

